USE [master]
GO
/****** Object:  Database [SuShiX]    Script Date: 12/9/2024 11:42:10 AM ******/
CREATE DATABASE [SuShiX]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SuShiX', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SuShiX.mdf' , SIZE = 139264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SuShiX_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SuShiX_log.ldf' , SIZE = 204800KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SuShiX].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SuShiX]
GO
/****** Object:  Table [dbo].[BOPHAN]    Script Date: 12/9/2024 11:42:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOPHAN](
	[MaBoPhan] [int] IDENTITY(1,1) NOT NULL,
	[MaChiNhanh] [int] NOT NULL,
	[TenBoPhan] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBoPhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [U_BOPHAN] UNIQUE NONCLUSTERED 
(
	[MaChiNhanh] ASC,
	[TenBoPhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHINHANH]    Script Date: 12/9/2024 11:42:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHINHANH](
	[MaChiNhanh] [int] IDENTITY(1,1) NOT NULL,
	[TenChiNhanh] [nvarchar](255) NOT NULL,
	[DiaChi] [nvarchar](255) NOT NULL,
	[GioMoCua] [time](7) NOT NULL,
	[GioDongCua] [time](7) NOT NULL,
	[BaiXeMay] [bit] NOT NULL,
	[BaiOTo] [bit] NOT NULL,
	[MaNVQuanLy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiNhanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHGIADICHVU]    Script Date: 12/9/2024 11:42:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHGIADICHVU](
	[MaPhieuDanhGia] [int] IDENTITY(1,1) NOT NULL,
	[DiemPhucVu] [int] NULL,
	[DiemChatLuongMonAn] [int] NULL,
	[DiemGiaCa] [int] NULL,
	[DiemViTriChiNhanh] [int] NULL,
	[DiemKhongGian] [int] NULL,
	[BinhLuan] [nvarchar](1000) NULL,
	[ThoiDiemTruyCap] [datetime] NULL,
	[ThoiGianTruyCap] [int] NULL,
	[LoaiDGDV] [varchar](2) NOT NULL,
	[MaHoaDon] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuDanhGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADONTHANHTOAN]    Script Date: 12/9/2024 11:42:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONTHANHTOAN](
	[MaHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
	[SoTienGiam] [decimal](18, 2) NOT NULL,
	[MaTheThanhVien] [int] NULL,
	[MaPhieu] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/9/2024 11:42:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](255) NOT NULL,
	[SDT] [varchar](15) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[GioiTinh] [nvarchar](10) NOT NULL,
	[CCCD] [nvarchar](12) NULL,
	[Duong] [nvarchar](100) NULL,
	[Phuong] [nvarchar](50) NULL,
	[Quan] [nvarchar](50) NULL,
	[ThanhPho] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHSULAMVIEC]    Script Date: 12/9/2024 11:42:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSULAMVIEC](
	[MaLichSu] [int] IDENTITY(1,1) NOT NULL,
	[MaBoPhan] [int] NOT NULL,
	[MaNhanVien] [int] NOT NULL,
	[NgayBatDau] [date] NOT NULL,
	[NgayKetThuc] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLichSu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MON]    Script Date: 12/9/2024 11:42:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MON](
	[MaMon] [int] IDENTITY(1,1) NOT NULL,
	[TenMon] [nvarchar](255) NOT NULL,
	[GiaHienTai] [decimal](18, 2) NOT NULL,
	[DanhMuc] [nvarchar](100) NOT NULL,
	[HinhAnh] [varchar](255) NULL,
	[MoTa] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/9/2024 11:42:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNhanVien] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](255) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[GioiTinh] [nvarchar](10) NOT NULL,
	[Luong] [decimal](18, 2) NOT NULL,
	[NgayVaoLam] [date] NOT NULL,
	[NgayNghiViec] [date] NULL,
	[SDT] [varchar](15) NOT NULL,
	[Duong] [nvarchar](100) NOT NULL,
	[Phuong] [nvarchar](50) NOT NULL,
	[Quan] [nvarchar](50) NOT NULL,
	[ThanhPho] [nvarchar](50) NOT NULL,
	[MaBoPhan] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUDATBAN]    Script Date: 12/9/2024 11:42:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUDATBAN](
	[MaPhieuDatBan] [int] NOT NULL,
	[SoBan] [int] NOT NULL,
	[SoLuongKhach] [int] NULL,
	[NgayDat] [date] NULL,
	[GioDen] [time](7) NULL,
	[GhiChu] [nvarchar](255) NULL,
	[LoaiPhieuDatBan] [nvarchar](2) NOT NULL,
	[MaNVDatBan] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuDatBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUDATMON]    Script Date: 12/9/2024 11:42:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUDATMON](
	[MaPhieu] [int] IDENTITY(1,1) NOT NULL,
	[NgayLap] [date] NOT NULL,
	[LoaiPhieu] [nvarchar](2) NOT NULL,
	[MaChiNhanh] [int] NOT NULL,
	[MaKhachHang] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUDATMON_MON]    Script Date: 12/9/2024 11:42:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUDATMON_MON](
	[MaPhieu] [int] NOT NULL,
	[MaMon] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[Gia] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieu] ASC,
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUDATMONGIAOHANG]    Script Date: 12/9/2024 11:42:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUDATMONGIAOHANG](
	[MaPhieuGiaoHang] [int] NOT NULL,
	[DiaChiGiaoHang] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuGiaoHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 12/9/2024 11:42:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MaTaiKhoan] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[LoaiTaiKhoan] [nvarchar](10) NOT NULL,
	[MaNguoiDung] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THETHANHVIEN]    Script Date: 12/9/2024 11:42:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THETHANHVIEN](
	[MaTheThanhVien] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachHang] [int] NOT NULL,
	[NgayLap] [date] NOT NULL,
	[LoaiThe] [nvarchar](50) NOT NULL,
	[NgayDatLoaiThe] [date] NOT NULL,
	[DiemChiTieu] [int] NOT NULL,
	[MaNVLapThe] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTheThanhVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUCDON]    Script Date: 12/9/2024 11:42:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUCDON](
	[MaThucDon] [int] IDENTITY(1,1) NOT NULL,
	[MaChiNhanh] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThucDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUCDON_MON]    Script Date: 12/9/2024 11:42:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUCDON_MON](
	[MaThucDon] [int] NOT NULL,
	[MaMon] [int] NOT NULL,
	[CoPhucVuKhong] [bit] NOT NULL,
	[CoGiaoHangKhong] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThucDon] ASC,
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LICHSULAMVIEC] ADD  DEFAULT (NULL) FOR [NgayKetThuc]
GO
ALTER TABLE [dbo].[BOPHAN]  WITH CHECK ADD FOREIGN KEY([MaChiNhanh])
REFERENCES [dbo].[CHINHANH] ([MaChiNhanh])
GO
ALTER TABLE [dbo].[DANHGIADICHVU]  WITH CHECK ADD FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HOADONTHANHTOAN] ([MaHoaDon])
GO
ALTER TABLE [dbo].[HOADONTHANHTOAN]  WITH CHECK ADD FOREIGN KEY([MaPhieu])
REFERENCES [dbo].[PHIEUDATMON] ([MaPhieu])
GO
ALTER TABLE [dbo].[HOADONTHANHTOAN]  WITH CHECK ADD FOREIGN KEY([MaTheThanhVien])
REFERENCES [dbo].[THETHANHVIEN] ([MaTheThanhVien])
GO
ALTER TABLE [dbo].[LICHSULAMVIEC]  WITH CHECK ADD FOREIGN KEY([MaBoPhan])
REFERENCES [dbo].[BOPHAN] ([MaBoPhan])
GO
ALTER TABLE [dbo].[LICHSULAMVIEC]  WITH CHECK ADD FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NHANVIEN] ([MaNhanVien])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([MaBoPhan])
REFERENCES [dbo].[BOPHAN] ([MaBoPhan])
GO
ALTER TABLE [dbo].[PHIEUDATBAN]  WITH CHECK ADD FOREIGN KEY([MaNVDatBan])
REFERENCES [dbo].[NHANVIEN] ([MaNhanVien])
GO
ALTER TABLE [dbo].[PHIEUDATBAN]  WITH CHECK ADD FOREIGN KEY([MaPhieuDatBan])
REFERENCES [dbo].[PHIEUDATMON] ([MaPhieu])
GO
ALTER TABLE [dbo].[PHIEUDATMON]  WITH CHECK ADD FOREIGN KEY([MaChiNhanh])
REFERENCES [dbo].[CHINHANH] ([MaChiNhanh])
GO
ALTER TABLE [dbo].[PHIEUDATMON]  WITH CHECK ADD FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KHACHHANG] ([MaKhachHang])
GO
ALTER TABLE [dbo].[PHIEUDATMON_MON]  WITH CHECK ADD FOREIGN KEY([MaMon])
REFERENCES [dbo].[MON] ([MaMon])
GO
ALTER TABLE [dbo].[PHIEUDATMON_MON]  WITH CHECK ADD FOREIGN KEY([MaPhieu])
REFERENCES [dbo].[PHIEUDATMON] ([MaPhieu])
GO
ALTER TABLE [dbo].[PHIEUDATMONGIAOHANG]  WITH CHECK ADD FOREIGN KEY([MaPhieuGiaoHang])
REFERENCES [dbo].[PHIEUDATMON] ([MaPhieu])
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NHANVIEN] ([MaNhanVien])
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[KHACHHANG] ([MaKhachHang])
GO
ALTER TABLE [dbo].[THETHANHVIEN]  WITH CHECK ADD FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KHACHHANG] ([MaKhachHang])
GO
ALTER TABLE [dbo].[THETHANHVIEN]  WITH CHECK ADD FOREIGN KEY([MaNVLapThe])
REFERENCES [dbo].[NHANVIEN] ([MaNhanVien])
GO
ALTER TABLE [dbo].[THUCDON]  WITH CHECK ADD FOREIGN KEY([MaChiNhanh])
REFERENCES [dbo].[CHINHANH] ([MaChiNhanh])
GO
ALTER TABLE [dbo].[THUCDON_MON]  WITH CHECK ADD FOREIGN KEY([MaMon])
REFERENCES [dbo].[MON] ([MaMon])
GO
ALTER TABLE [dbo].[THUCDON_MON]  WITH CHECK ADD FOREIGN KEY([MaThucDon])
REFERENCES [dbo].[THUCDON] ([MaThucDon])
GO
ALTER TABLE [dbo].[CHINHANH]  WITH CHECK ADD  CONSTRAINT [CK_CHINHANH_GioMoCua_SoVoi_GioDongCua] CHECK  (([GioMoCua]<[GioDongCua]))
GO
ALTER TABLE [dbo].[CHINHANH] CHECK CONSTRAINT [CK_CHINHANH_GioMoCua_SoVoi_GioDongCua]
GO
ALTER TABLE [dbo].[DANHGIADICHVU]  WITH CHECK ADD CHECK  (([LoaiDGDV]='TT' OR [LoaiDGDV]='TC'))
GO
ALTER TABLE [dbo].[DANHGIADICHVU]  WITH CHECK ADD  CONSTRAINT [CK_DANHGIADICHVU_DiemChatLuongMonAn] CHECK  (([DiemChatLuongMonAn]>=(1) AND [DiemChatLuongMonAn]<=(5)))
GO
ALTER TABLE [dbo].[DANHGIADICHVU] CHECK CONSTRAINT [CK_DANHGIADICHVU_DiemChatLuongMonAn]
GO
ALTER TABLE [dbo].[DANHGIADICHVU]  WITH CHECK ADD  CONSTRAINT [CK_DANHGIADICHVU_DiemGiaCa] CHECK  (([DiemGiaCa]>=(1) AND [DiemGiaCa]<=(5)))
GO
ALTER TABLE [dbo].[DANHGIADICHVU] CHECK CONSTRAINT [CK_DANHGIADICHVU_DiemGiaCa]
GO
ALTER TABLE [dbo].[DANHGIADICHVU]  WITH CHECK ADD  CONSTRAINT [CK_DANHGIADICHVU_DiemKhongGian] CHECK  (([DiemKhongGian]>=(1) AND [DiemKhongGian]<=(5)))
GO
ALTER TABLE [dbo].[DANHGIADICHVU] CHECK CONSTRAINT [CK_DANHGIADICHVU_DiemKhongGian]
GO
ALTER TABLE [dbo].[DANHGIADICHVU]  WITH CHECK ADD  CONSTRAINT [CK_DANHGIADICHVU_DiemPhucVu] CHECK  (([DiemPhucVu]>=(1) AND [DiemPhucVu]<=(5)))
GO
ALTER TABLE [dbo].[DANHGIADICHVU] CHECK CONSTRAINT [CK_DANHGIADICHVU_DiemPhucVu]
GO
ALTER TABLE [dbo].[DANHGIADICHVU]  WITH CHECK ADD  CONSTRAINT [CK_DANHGIADICHVU_DiemViTriChiNhanh] CHECK  (([DiemViTriChiNhanh]>=(1) AND [DiemViTriChiNhanh]<=(5)))
GO
ALTER TABLE [dbo].[DANHGIADICHVU] CHECK CONSTRAINT [CK_DANHGIADICHVU_DiemViTriChiNhanh]
GO
ALTER TABLE [dbo].[HOADONTHANHTOAN]  WITH CHECK ADD  CONSTRAINT [CK_HOADONTHANHTOAN_SoTienGiam] CHECK  (([SoTienGiam]>=(0) AND [SoTienGiam]<=[TongTien]))
GO
ALTER TABLE [dbo].[HOADONTHANHTOAN] CHECK CONSTRAINT [CK_HOADONTHANHTOAN_SoTienGiam]
GO
ALTER TABLE [dbo].[HOADONTHANHTOAN]  WITH CHECK ADD  CONSTRAINT [CK_HOADONTHANHTOAN_TongTien] CHECK  (([TongTien]>(0)))
GO
ALTER TABLE [dbo].[HOADONTHANHTOAN] CHECK CONSTRAINT [CK_HOADONTHANHTOAN_TongTien]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD CHECK  (([GioiTinh]=N'Nữ' OR [GioiTinh]=N'Nam'))
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [CK_KHACHHANG_CCCD] CHECK  ((len([CCCD])=(12)))
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [CK_KHACHHANG_CCCD]
GO
ALTER TABLE [dbo].[LICHSULAMVIEC]  WITH CHECK ADD  CONSTRAINT [CK_LICHSULAMVIEC_NgayBatDau] CHECK  (([NgayKetThuc] IS NULL OR [NgayBatDau]<[NgayKetThuc]))
GO
ALTER TABLE [dbo].[LICHSULAMVIEC] CHECK CONSTRAINT [CK_LICHSULAMVIEC_NgayBatDau]
GO
ALTER TABLE [dbo].[MON]  WITH CHECK ADD  CONSTRAINT [CK_MON_GiaHienTai] CHECK  (([GiaHienTai]>(0)))
GO
ALTER TABLE [dbo].[MON] CHECK CONSTRAINT [CK_MON_GiaHienTai]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD CHECK  (([GioiTinh]=N'Nữ' OR [GioiTinh]=N'Nam'))
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_NHANVIEN_LuongDuong] CHECK  (([Luong]>(0)))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_NHANVIEN_LuongDuong]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_NHANVIEN_NgayNghiViec] CHECK  (([NgayNghiViec] IS NULL OR [NgayNghiViec]>[NgayVaoLam]))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_NHANVIEN_NgayNghiViec]
GO
ALTER TABLE [dbo].[PHIEUDATBAN]  WITH CHECK ADD CHECK  (([LoaiPhieuDatBan]='TT' OR [LoaiPhieuDatBan]='TC'))
GO
ALTER TABLE [dbo].[PHIEUDATMON]  WITH CHECK ADD CHECK  (([LoaiPhieu]='DB' OR [LoaiPhieu]='GH'))
GO
ALTER TABLE [dbo].[PHIEUDATMON_MON]  WITH CHECK ADD  CONSTRAINT [CK_PHIEUDATMON_MON_Gia] CHECK  (([Gia]>(0)))
GO
ALTER TABLE [dbo].[PHIEUDATMON_MON] CHECK CONSTRAINT [CK_PHIEUDATMON_MON_Gia]
GO
ALTER TABLE [dbo].[PHIEUDATMON_MON]  WITH CHECK ADD  CONSTRAINT [CK_PHIEUDATMON_MON_SoLuong] CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[PHIEUDATMON_MON] CHECK CONSTRAINT [CK_PHIEUDATMON_MON_SoLuong]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD CHECK  (([LoaiTaiKhoan]='NV' OR [LoaiTaiKhoan]='KH'))
GO
ALTER TABLE [dbo].[THETHANHVIEN]  WITH CHECK ADD CHECK  (([LoaiThe]='GOLD' OR [LoaiThe]='SILVER'))
GO
ALTER TABLE [dbo].[THETHANHVIEN]  WITH CHECK ADD  CONSTRAINT [CK_THETHANHVIEN_DiemChiTieu] CHECK  (([DiemChiTieu]>=(0)))
GO
ALTER TABLE [dbo].[THETHANHVIEN] CHECK CONSTRAINT [CK_THETHANHVIEN_DiemChiTieu]
GO
USE [master]
GO
